node_modules
.idea/**
src/WebContent/
/JavaDocs/**
src/test/
target/**
*.iml
src/main/resources/static/css/**
src/main/resources/static/scss/**
src/main/resources/static/less/**
src/main/resources/static/fonts/**
src/main/resources/angular/**
