<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="panel panel-default" th:fragment="holding-management" ng-controller="holdingManagementCtrl">
    <div class="panel-heading">
        <div class="col-lg-12 row">
            <h3>Holdings <span class="fa fa-list-ul"></span></h3>
                <button class="pull-right" ng-click="addHolding()">
                    Add Holding <span class="fa fa-plus"></span>
                </button>
        </div>

    </div>
    <div class="panel-body">
        <h4>Stocks</h4>
        <table st-table="rowCollection" class="table table-striped">
            <thead>
            <tr>
                <th>Stock Name</th>
                <th>Total Count</th>
                <th>Price</th>
                <th>Total Holdings</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stock in holdings.stocks">
                <td>{{stock.name}} ({{stock.acronym}})</td>
                <td>{{stock.quantity}}</td>
                <td>{{stock.currentPrice}}</td>
                <td>{{stock.totalValue}}</td>
            </tr>
            </tbody>
        </table>
        <h4>Cryptocurrencies</h4>
        <table st-table="rowCollection" class="table table-striped">
            <thead>
            <tr>
                <th>Crypto Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Holdings</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="crypto in holdings.cryptos">
                <td>{{crypto.name}}({{crypto.acronym}})</td>
                <td>{{crypto.quantity}}</td>
                <td>{{crypto.currentPrice}}</td>
                <td>{{crypto.totalValue}}</td>
            </tr>
            </tbody>
        </table>
        <h4>Forex</h4>
        <table st-table="rowCollection" class="table table-striped">
            <thead>
            <tr>
                <th>Currency Name</th>
                <th>Total Count</th>
                <th>Price per Stock</th>
                <th>Total Holdings</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="fiat in holdings.fiats">
                <td>{{fiat.acronym}} - {{fiat.name}} ({{fiat.symbol}})</td>
                <td>{{fiat.quantity}}</td>
                <td>{{fiat.currentPrice}}</td>
                <td>{{fiat.totalValue}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>