<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="panel panel-default" th:fragment="holding-management" ng-controller="holdingManagementCtrl">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-11">
                <h3>Holdings <span class="fa fa-money"></span>
                    <span class="fa fa-money-bill"></span>
                </h3>
            </div>
            <div class="col-lg-1">
                <label>
                    <button ng-click="addHolding()">
                        Add Holding <span class="fa fa-plus"></span>
                    </button>
                </label>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <!--<label ng-hide="">-->
            <!--To get started add a holding by clicking the button above.-->
        <!--</label>-->
        <table st-table="rowCollection" class="table table-striped table-large-font">
            <thead>
            <tr>
                <th class="fixed-column">Stock Name</th>
                <th class="fixed-column">Quantity</th>
                <th class="fixed-column">Price</th>
                <th class="fixed-column">Total Holdings</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stock in holdings.stocks">
                <td>{{stock.name}} ({{stock.acronym}})</td>
                <td>{{stock.totalQuantity}}</td>
                <td>${{stock.price}}</td>
                <td>{{(stock.totalQuantity * stock.price) | currency}}</td>
                <td>
                    <input type="number" placeholder="Number to remove" ng-model="amountToRemove"/>
                    <button ng-click="removeHolding(stock.acronym, stock.holdingType, amountToRemove)">Remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <table st-table="rowCollection" class="table table-striped table-large-font">
            <thead>
            <tr>
                <th class="fixed-column">Crypto Name</th>
                <th class="fixed-column">Quantity</th>
                <th class="fixed-column">Price</th>
                <th class="fixed-column">Total Holdings</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="crypto in holdings.cryptos">
                <td>{{crypto.name}} ({{crypto.acronym}})</td>
                <td>{{(crypto.totalQuantity !== 0 ) ? crypto.totalQuantity : "Watch only"}}</td>
                <td>${{crypto.price}}</td>
                <td>{{(crypto.totalQuantity * crypto.price) | currency}}</td>
                <td>
                    <input type="number" placeholder="Number to remove" ng-model="amountToRemove"/>
                    <button ng-click="removeHolding(crypto.acronym, crypto.holdingType)">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>
        <table st-table="rowCollection" class="table table-striped table-large-font">
            <thead>
            <tr>
                <th class="fixed-column">Currency Name</th>
                <th class="fixed-column">Quantity</th>
                <th class="fixed-column">Price</th>
                <th class="fixed-column">Total Holdings</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="fiat in holdings.fiats">
                <td>{{fiat.acronym}} - {{fiat.name}}</td>
                <td>{{fiat.totalQuantity.toFixed(2)}}</td>
                <td>${{fiat.price}}</td>
                <td>{{(fiat.totalQuantity * fiat.price) | currency}}</td>
                <td>
                    <input type="number" placeholder="Number to remove" ng-model="amountToRemove"/>
                    <button ng-click="removeHolding(fiat.acronym, fiat.holdingType)">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>