<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="overview">
    <div class="col-md-4 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="huge">
                    <b> {{formatValues(totalValue)}}</b>
                </div>
            </div>
            <div class="panel-footer">
                <b>Total Value</b>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="huge">
                    <b>{{formatValues(acquisitionCost)}}</b>
                </div>
            </div>
            <div class="panel-footer">
                <b>Acquisition Value</b>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="panel">
            <div ng-class="{'panel-success': isProfiting, 'panel-danger': !isProfiting}">
                <div class="panel-heading">
                    <div class="huge">
                        {{(isProfiting) ? "▲" : "▼" }}
                        <b>{{toPercentage(totalValue, acquisitionCost)}}</b>
                    </div>
                </div>
                <div class="panel-footer">
                    <b>Total Change</b>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>