<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="overview">
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="huge">
                    <b> {{userCurrency.symbol}}{{(totalValue * userCurrency.modifier).toFixed(2) | number}}</b>
                </div>
            </div>
            <div class="panel-footer">
                <b>Total Value</b>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="huge">
                    <b>{{userCurrency.symbol}}{{(acquisitionCost * userCurrency.modifier).toFixed(2) | number}}</b>
                </div>
            </div>
            <div class="panel-footer">
                <b>Acquisition Value</b>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel">
            <div ng-class="{'panel-success': profitting, 'panel-danger': !profitting}">
                <div class="panel-heading">
                    <div class="huge">
                        {{(totalValue > acquisitionCost) ? "▲" : "▼" }}
                        <b>{{(((totalValue/acquisitionCost)*100) - 100).toFixed(2)}}%</b>
                    </div>
                </div>
                <div class="panel-footer">
                    <b>Total Change</b>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>