<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="total-value-line-chart">
    <div class="panel panel-default" style="height: 376px;">
        <div class="panel-heading">
            <h4><span class="fa fa-line-chart"></span> Historical Portfolio Value </h4>
            <div ng-show="user.settings.currency.acronym != 'USD'">
                Stock Values based off current USD/{{user.settings.userCurrency.acronym}} ({{userCurrency.symbol + userCurrency.modifier}})
                exchange rate. Holding's effect on your portfolios past will linger when partially removed.
            </div>
            <!--Logarithmic Chart? <label>-->
            <!--<input type="checkbox" ng-true-value="lineOptions.axes.y.type = 'log';"-->
            <!--ng-false-value="lineOptions.axes.y.type = '';"/>-->
            <!--</label>-->
        </div>

        <div class="panel-body" ng-if="historicalPortfolioStatus == 'loaded'">
            <linechart data="historicalPortfolio" options="lineOptions" style="height: 250px"></linechart>
        </div>
        <div class="large center" ng-show="historicalPortfolioStatus == 'too recent'"
             style="text-align: center;">
            Oldest holding must have been bought more than 10 days ago to see History Graph
        </div>
        <div class="huge center" ng-show="historicalPortfolioStatus == 'loading'">
            <span class="fa fa-circle-o-notch fa-spin"></span> Generating Portfolio History
        </div>
    </div>
</div>
</body>
</html>