<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="fiat-performance">
    <div class="panel-heading">
        <h4>Fiat Performance <span class="fa fa-money"></span></h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <p style="font-size: 14px;">Over the month the Pound, Euro, Yen, Yuan and Swiss
                    Franc's USD values
                    were cumulatively {{((fiatIndexChange > 0 ) ? "up" :
                    "down")}} <b>{{fiatIndexChange}}%</b>
                    relative to your Fiat currencies' USD value's which were {{((userFiatChange > 0 ) ?
                    "up"
                    :
                    "down")}} <b>{{portfolioFiatChange}}%</b>  (a <b>{{(portfolioFiatChange -
                        fiatIndexChange).toFixed(3)}}%</b> difference)
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>