<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="panel panel-default" th:fragment="overview">
    <div class="panel-heading">
        <h3>Overview <span class="fa fa-line-chart"></span></h3>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <h3>Total Value: {{totalValue | currency}}</h3>
        </div>
        <div class="col-lg-12">
            <h3>Acquisition Value: {{acquisitionCost | currency}}</h3>
        </div>
        <div class="col-lg-12">
            <h3>Total Change (%): {{(totalValue > acquisitionCost) ? "▲" : "▼" }}
                {{100 - ((totalValue/acquisitionCost)*100)}}%</h3>
        </div>
    </div>

    <!--temp-->

    <button class="pull-right" ng-click="generateGraph()">gen</button>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Historical Portfolio Value</h4>
        </div>
        <div class="panel-body">
            <linechart data="historicalPortfolio" options="options" style="height: 250px"></linechart>
        </div>
    </div>
</div>
</body>
</html>