<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="overview">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="huge">
                    {{totalValue | currency}}
                </div>
            </div>
            <div class="panel-footer">
                <b>Total Value</b>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="huge">
                    {{acquisitionCost | currency}}
                </div>
            </div>
            <div class="panel-footer">
                <b>Acquisition Value</b>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="huge">
                    {{(totalValue > acquisitionCost) ? "▲" : "▼" }}
                    {{(((totalValue/acquisitionCost)*100) - 100).toFixed(2)}}%
                </div>
            </div>
            <div class="panel-footer">
                <b>Total Change</b>
            </div>
        </div>
    </div>
</div>
</body>
</html>