<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="stock-performance">
    <div class="panel-heading">
        <h4>Stock Performance</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <p style="font-size: 14px;">Over the month the Stock sectors, Utilities, Energy, IT,
                    Consumer Discretionary, Telecommunication Services, Health Care, Industrials and
                    Financials were was {{((aggregateSectorChange > 0 ) ? "up" :
                    "down")}} <b>{{aggregateSectorChange}}%</b>
                    relative to your Stocks which were {{((portfolioStockChange > 0 ) ?
                    "up"
                    :
                    "down")}} <b>{{portfolioStockChange}}%</b> (a <b>{{(portfolioStockChange -
                        btcChange).toFixed(3)}}%</b> difference)
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>