<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="stock-performance">
    <div class="panel-heading">
        <h4>Stock Performance <span class="fa fa-newspaper-o"></span></h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12" ng-show="portfolioStockChange !== 0">
                <p style="font-size: 14px;" ng-show="portfolioStockChange !== 0">Over the month the Stock sectors: Utilities, Energy, IT,
                    Consumer Discretionary, Telecommunication Services, Health Care, Industrials and
                    Financials were {{((aggregateSectorChange > 0 ) ? "up" :
                    "down")}} <b>{{aggregateSectorChange}}%</b>
                    relative to your Stock's prices which were {{((portfolioStockChange > 0 ) ?
                    "up"
                    :
                    "down")}} <b>{{portfolioStockChange}}%</b> (a <b>{{(portfolioStockChange -
                        btcChange).toFixed(3)}}%</b> difference)
                </p>
                <div class="huge " ng-hide="portfolioStockChange !== 0" style="text-align: center;">
                    <span class="fa fa-circle-o-notch fa-spin"></span> Loading
                </div>
            </div>
            <div class="col-xs-12" ng-hide="portfolioStockChange !== 0">
                <label>In order to see your stock performance you will need to add some stocks to your portfolio.</label>
            </div>
        </div>
    </div>
</div>
</body>
</html>