<div ng-controller="addHoldingCtrl">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add New Holding <span class="fa fa-shopping-basket"></span></h3> You
        can watch holdings by adding them with a quantity of 0
    </div>
    <div class="modal-body" id="modal-body">
        <form>
            <div class="col-xs-12">
                <label>Holding</label>
            </div>
            <div class="col-xs-12">
                <select ng-model="holding" ng-show="holdingsLoaded"
                        ng-change="changeDatesAvailable(holding.holdingType)"
                        ng-options="(holding.name+ ' (' + holding.acronym + ') - ' +holding.holdingType) for holding in holdingList | orderBy: 'name'"></select>
                <div ng-hide="holdingsLoaded">
                    <span class="fa fa-circle-o-notch fa-spin"></span> Loading
                </div>
            </div>
            <div class="col-xs-12">
                <label>Quantity</label>
            </div>
            <div class="col-xs-12">
                <input type="number" name="input" ng-model="quantity"/>
            </div>
            <div class="col-xs-12" ng-show="quantity > 0">
                <label>Date Bought</label>
                <div uib-datepicker ng-model="holding.dateBought" class="well well-sm"
                     datepicker-options="options" date-disabled="disabled(date, mode)"></div>
            </div>
            <!--<div class="col-xs-12">-->
                <!--<label>Remove value from current Holding? </label>-->
                <!--<input type="checkbox" ng-model="showHoldingToReduce"-->
                       <!--ng-change="setHoldingToReduceAsSelectedCurrency()"/>-->
            <!--</div>-->
            <!--<div class="col-xs-12" style="padding-bottom: 5px;">-->
                <!--<select ng-model="holdingToReduce" ng-show="showHoldingToReduce"-->
                        <!--ng-options="holding.name for holding in user.holdings | orderBy: 'name'"></select>-->
            <!--</div>-->

            <div class="col-xs-12">
                <button ng-click="add()">
                    Add
                    <span class="fa fa-plus" ng-hide="addingHolding"></span>
                    <span class="fa fa-circle-o-notch fa-spin" ng-show="addingHolding"></span>
                </button>
            </div>
        </form>
    </div>
    <div class="modal-footer">

    </div>
</div>